<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>

      <p>Love working with HTML5 and CSS to get things looking perfect. A fan of bootstrap and even bigger fan of Bulma. </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-ruby-plain"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>A fan of Javascript and the jQuery library in particular, just got started with the Ruby on Rails framework and loving it!
</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-heroku-original-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>I was converted from Sublime to Atom, it's hackable but approachable. The automation Gulp provides saves time and aids workflow balance. Loving it!</p>
    </div>
  </div>
</div>
