<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="makenews" src="/assets/img/makenews.png">
    </div>
    <div class="six columns">
      <h5> Make News </h5>
      <li> Ruby on Rails</li>
      <li> Satellizer</li>
      <li> AWS</li>
      <li> Heroku</li>
      <li> ngMessages</li>
      <li> ngAnimate</li>
      <li> JsonWebToken</li>
      <li> BCrypt</li>
      <li> Bulma</li>
      <p>A collaborative effort resulting in a social news app built with Rails. </p>
      <a class="project-link" href="https://make-news.herokuapp.com/">Have a go</a>
      <a class="project-link" href="https://github.com/larmflower/Project-4-Front">See the code</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="pariah" src="/assets/img/pariah.png">
    </div>
    <div class="six columns">
      <h5> Pariah </h5>
      <ul>
        <li> HTML5</li>
        <li> CSS3</li>
        <li> JavaScript ES6</li>
        <li> Node/NPM</li>
        <li> Express</li>
        <li> Clarifai API</li>
        <li> Harvard University API</li>

      </ul>
      <p>A fully authenticated Express App utilising APIs from Clarafai and Harvard University. An individual endeavor with significant focus on design and a pristine polished look. </p>
      <a class="project-link" href="https://fast-taiga-10310.herokuapp.com/">Have a go</a>
      <a class="project-link" href="https://github.com/larmflower/Project-1---Individual">See the code</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="clowder" src="/assets/img/clowder.png">
    </div>
    <div class="six columns">
      <h5> Clowder </h5>
      <ul>
        <li> HTML5</li>
        <li> SCSS</li>
        <li> JavaScript ES6</li>
        <li> Gulp</li>
        <li> Yarn</li>
        <li> Bower</li>
        <li> Chai/ Mocha</li>
        <li> MongoDB</li>
        <li> AWS </li>
        <li> Express.JS</li>
        <li> Google Maps API</li>
        <li> Facebook/ Github oAuth Log-in API</li>

      </ul>
      <p>Based on the idea of sharing and volunteering within your community, our app Clowder allows users to donate and share unused and excess food and goods for free amongst their community and other users of the app. </p>
      <a class="project-link" href="https://team-sausage-herokuapp.com">Have a go</a>
      <a class="project-link" href="https://github.com/larmflower/Project-2-Collaborative">See the code</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="trivia" src="/assets/img/trivia.png">
    </div>
    <div class="six columns">
      <h5> Simple Trivia Game </h5>
      <ul>
        <li> HTML5</li>
        <li> SCSS</li>
        <li> JavaScript ES6</li>
        <li> Gulp</li>
        <li> NPM</li>
        <li> Git/Github</li>

      </ul>
      <p>JavaScript built application based on Relativity Media’s film Zombieland. A fan of movie trivia, I sought to assign clips from the film to certain elements which would activate as the user moved along the board. Heart icons represent lives which would decrease when incorrect answers were given. </p>
      <a class="project-link" href="https://still-oasis-17209.herokuapp.com/">Have a go</a>
      <a class="project-link" href="https://github.com/larmflower/Project-0">See the code</a>
    </div>
  </div>
</div>
